#suma {

    width: 70px;
    height: 70px;
    font-size: 70px;
}
#resta {
    width: 70px;
    height: 70px;
    font-size: 70px;
}
#multiplicacion{

    width: 70px;
    height: 70px;
    font-size: 70px;
}
#division{
    width: 70px;
    height: 70px;
    font-size: 70px;
}
#resultado{
    
    font-size: 200px;
    
}